@import "common-scss/variables";
@import "common-scss/mixins";
@import "common-scss/base";

@media only screen and (min-width: 1600px) and (max-width: 1920px){
  .container {
    max-width: 75%;
  }
}

.menu{
    list-style: none;
    display: flex;
    margin: 0;
    li{
      margin: 0 15px;
      a{
        color: #333;
        text-decoration: none;
      }
    }
}

.hd24{font-size: 24px;}

.card-box {
  background: #f3f4f7;
  box-shadow: #cacedc 10px 10px 15px, #fff -10px -10px 15px;
  border-radius: 25px;
  padding: 20px;
}

h4 {
  font: 700 25px Ubuntu,sans-serif;
  color: #003e7e;
}
h2 {
  font: 700 18px Ubuntu,sans-serif;
  color: #003e7e;
}

ul.tips {
  color: #003e7e;
  margin: 0;
  padding: 25px 0 15px 20px;
  list-style: none;
  li{
    font-size: 14px;
    padding: 0 0 0 25px;
    background: url(../src/assets/images/tick.png) 0 5px no-repeat;
    margin-bottom: 15px;
  }
}