@import "./../../common-scss/variables";
@import "./../../common-scss/mixins";
.card-box {
    border-radius: 25px;
    padding: 45px;

}

form {
    .form-group{
        margin-top: 40px;
    }
    input.form-control, input.form-control:focus {
        background: $c-grey-1;
        height: 30px;
      }
  
  
      input.form-control {
        background: $c-grey-1;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: double;
        font-size: 14px;
        padding: 0;
        border-radius: 0;
  
        &::placeholder {
          color: rgba($color: #686868, $alpha: .5);
        }
      }
  
      select {
        height: 100%;
        margin-right: 20px;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-size: 18px 7px;
        //background: $c-grey-1 url('../../../../../../assets/images/svg/dropdown-arrow.svg') no-repeat right center;
        //background-position: 98% center;
        padding-right: 25px;
        border: 0;
        border-bottom: 1px solid $c-grey-2;
        border-radius: 0;
        color: rgba($color: #686868, $alpha: .5);
        //height: 40px;
        &::-ms-expand {
          display: none;
        }
      }
    .btn {
        padding: 16px 45px;
        width: 80%;
        background: #f48025;
        color: #fff;
        display: inline-block;
        font: 700 18px Ubuntu, sans-serif;
        transition: all .5s linear;
        box-shadow: inset rgb(163 39 0 / 40%) 0 0 0, rgb(0 0 0 / 10%) 7px 7px 25px 0, -10px -10px 15px #fff;
        border: 0;
    
        &:hover {
            color: #fff;
            box-shadow: inset rgb(163 39 0 / 40%) 11px 9px 9px 0;
        }
    
       
    }
    label {
        margin: 0;
        padding: 0;
        @include color-size(15px, $c-grey-4);
      }
      .input-hint-text {
        font-size: 12px;
        color: rgba($c-grey-5, .5);
      }
      .error{
        color: red;
        font-size: 12px;
      }
      .checkbox{
        position: relative;
       
        /* Create a custom checkbox */
        .checkmark {
            top: 3px;
            left: 0;
            height: 15px;
            width: 15px;
            border-radius: 2px;
        }
        a{
          color: $c-orange;
        }
      }
}